* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(167, 167, 167);
  }

  
  h1 {
    font-weight: bold;
  }
  
  .no-margin-padding {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 20px;
  }

  p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 10px 0px;
  }

  body {
    background: linear-gradient(135deg, rgb(143, 138, 138), rgb(253, 253, 253));
  }
  
  
  input, select {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.2s;
  }
  
  input:focus {
    border-color: #6200ea;
  }

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-family: 'Merriweather', serif;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two-column layout */
    gap: 20px;
  }
